<h1>Home</h1>
<h2>http://52.37.167.33:3000/data?foo=bar</h2>  
<h3> brings you to the get/port application.</h3>

<p>
	author: Kevin Turkington <br/>
	class: cs290 <br/>
	date: 5/9/16 <br/>
	assignment: GET and POST checker <br/>
</p>