<!-- From offical express-handlesbars github repo.-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>get/post checker</title>
</head>
<body>
	<div>
    	{{{body}}}
    </div>
</body>
</html>